# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ad-tt.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Richard\Desktop\src\ad-tt\.idea\.idea.ad-tt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
